@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

/* Targets the highest-level parent. In this case it is the main html element */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/tamu-background.jpg");
    background-size: auto;

    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(20px, 3vw, 50px);
}

p {
    font-size: 1.45em;
    font-weight: 500;
    font-size: clamp(1px, 3vw, 20px);
}
